In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import requests
%matplotlib inline

In [2]:
# api_key = 'U93z8Z-2erhNJgpJ1mNy'
# api_url = "https://www.quandl.com/api/v3/datasets/WIKI/GOOGL/data.json?api_key={}".format(api_key)
# params = {'limit': 1000}
# response = requests.get(api_url, params=params)
# m_dict = response.json()
df = pd.read_csv('daily_TSLA.csv', parse_dates=['timestamp']).sort_values('timestamp').set_index('timestamp')
df.head()

             open     high    low  close    volume
timestamp
2010-06-29  19.00  25.0000  17.54  23.89  18766300
2010-06-30  25.79  30.4192  23.30  23.83  17187100
2010-07-01  25.00  25.9200  20.27  21.96   8218800
2010-07-02  23.00  23.1000  18.71  19.20   5139800
2010-07-06  20.00  20.0000  15.83  16.11   6866900

In [3]:
def moving_average(df, swindow, lwindow):
    sm = df.close.rolling(swindow).mean()
    lo = df.close.rolling(lwindow).mean()
    buy = sm > lo
    sell = sm < lo
    return buy, sell

In [4]:
buy, sell = moving_average(df, 50, 200)

In [5]:
portfolio = 100
def backtest(df, buy, sell, capital, ini_shares, number = 10):
    portfolio = ini_shares
    cash = capital
    df['buy'] = buy
    df['sell'] = sell
    trades = []
    for index, row in df[(df['buy'] == True) | (df['sell'] == True)].iterrows():
        trade = {}
        trade['price'] = row['close']
        trade['timestamp'] = index
        if(row['buy']):
            portfolio += number
            cash = cash - number*(row['close'])
            trade['portfolio'] = portfolio
            trade['cash'] = cash
            trade['type'] = 'buy'
        elif(row['sell']):
            portfolio -= number
            cash = cash + number*(row['close'])
            trade['portfolio'] = portfolio
            trade['cash'] = cash
            trade['type'] = 'sell'
        trades.append(trade)
    trades_df = pd.DataFrame(trades).set_index('timestamp')
    return trades_df

In [6]:
backtest(df, buy, sell, 10000, 10)

                   cash  portfolio   price  type
timestamp
2011-04-12     9753.500         20   24.65   buy
2011-04-13     9504.200         30   24.93   buy
2011-04-14     9252.800         40   25.14   buy
2011-04-15     8997.000         50   25.58   buy
2011-04-18     8746.700         60   25.03   buy
2011-04-19     8495.100         70   25.16   buy
2011-04-20     8237.600         80   25.75   buy
2011-04-21     7970.200         90   26.74   buy
2011-04-25     7706.300        100   26.39   buy
2011-04-26     7437.000        110   26.93   buy
2011-04-27     7166.200        120   27.08   buy
2011-04-28     6889.600        130   27.66   buy
2011-04-29     6613.600        140   27.60   buy
2011-05-02     6339.100        150   27.45   buy
2011-05-03     6070.400        160   26.87   buy
2011-05-04     5803.500        170   26.69   buy
2011-05-05     5539.100        180   26.44   buy
2011-05-06     5267.900        190   27.12   buy
2011-05-09     4988.800        200   27.91   buy
2011-05-10     4705.500        210   28.33   buy
2011-05-11     4434.800        220   27.07   buy
2011-05-12     4158.100        230   27.67   buy
2011-05-13     3882.600        240   27.55   buy
2011-05-16     3616.600        250   26.60   buy
2011-05-17     3357.000        260   25.96   buy
2011-05-18     3093.500        270   26.35   buy
2011-05-19     2811.500        280   28.20   buy
2011-05-20     2531.800        290   27.97   buy
2011-05-23     2263.600        300   26.82   buy
2011-05-24     1996.400        310   26.72   buy
...                 ...        ...     ...   ...
2018-05-07 -1080267.853       6420  302.77  sell
2018-05-08 -1077248.153       6410  301.97  sell
2018-05-09 -1074179.653       6400  306.85  sell
2018-05-10 -1071129.453       6390  305.02  sell
2018-05-11 -1068118.853       6380  301.06  sell
2018-05-14 -1065199.153       6370  291.97  sell
2018-05-15 -1062357.353       6360  284.18  sell
2018-05-16 -1059492.553       6350  286.48  sell
2018-05-17 -1056647.153       6340  284.54  sell
2018-05-18 -1053878.953       6330  276.82  sell
2018-05-21 -1051034.053       6320  284.49  sell
2018-05-22 -1048283.953       6310  275.01  sell
2018-05-23 -1045493.253       6300  279.07  sell
2018-05-24 -1042714.753       6290  277.85  sell
2018-05-25 -1039926.253       6280  278.85  sell
2018-05-29 -1037088.653       6270  283.76  sell
2018-05-30 -1034171.453       6260  291.72  sell
2018-05-31 -1031324.153       6250  284.73  sell
2018-06-01 -1028405.953       6240  291.82  sell
2018-06-04 -1025438.553       6230  296.74  sell
2018-06-05 -1022527.253       6220  291.13  sell
2018-06-06 -1019332.253       6210  319.50  sell
2018-06-07 -1016171.353       6200  316.09  sell
2018-06-08 -1012994.753       6190  317.66  sell
2018-06-11 -1009673.753       6180  332.10  sell
2018-06-12 -1006246.053       6170  342.77  sell
2018-06-13 -1002798.253       6160  344.78  sell
2018-06-14  -999221.053       6150  357.72  sell
2018-06-15  -995639.353       6140  358.17  sell
2018-06-18  -991931.053       6130  370.83  sell

[1808 rows x 4 columns]

In [7]:
def relative_strength_index(df, n):
    dup, ddown = df['close'].diff(), df['close'].diff()
    dup[dup < 0] = 0
    ddown[ddown>0] = 0
    Rollup = dup.rolling(14).mean()
    Rolldown = ddown.rolling(14).mean()
    RS = Rollup/abs(Rolldown)
    RSI = 100-(100/(1 + RS))
    sell_comp = pd.Series(20 for i in range(2007))
    buy_comp = pd.Series(70 for i in range(2007))
    buy = RSI>buy_comp
    sell = RSI<sell_comp
    return buy, sell

In [8]:
buy, sell = relative_strength_index(df, 14)